  .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#FFF;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size:14px;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

.svg-container {
		 display: inline-block;
		 position: relative;
		 width: 100%;
		 padding-bottom: 100%; /* aspect ratio */
		 vertical-align: top;
		 overflow: hidden;
		 background-color: #FFF;
 }
 .svg-content-responsive {
		 display: inline-block;
		 position: absolute;
 }